@model IEnumerable<MenuTatil.Restaurant>

@{
    ViewData["Title"] = "Restaurantes Parceiros";
}

<h1>@ViewData["Title"]</h1>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="text-end">
                <div class="btn-group" role="group" aria-label="Botões">
                    <a class="btn btn-outline-primary" asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-primary" asp-controller="Menus" asp-action="Index" asp-route-restaurantId="@item.Id">Ver Cardápio</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
