@model Menu

@{
    ViewData["Title"] = "Editar Cardápio";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCategory">
    Nova Categoria
</button>

<hr/>

@if (Model.Categories.Count() == 0)
{
    <div>Ainda não foram adicionados categorias a este cardápio...</div>
}
else
{
    foreach (var category in Model.Categories)
    {
        <h2>@Html.DisplayName(category.Name)</h2>

        if (category.MenuItems?.Count() == 0)
        {
            <div>Ainda não foram adicionados itens a esta categoria...</div>
        }
        else
        {
            foreach (var item in category.MenuItems)
            {
                <div class="row mb-2">
                    <div class="col-md-10">
                        @Html.DisplayName(item.Name)
                    </div>

                    <div class="col-md-2">
                        R$ @Html.DisplayName(item.Price.ToString().Replace(".", ","))
                    </div>
                </div>
            }
        }

        <form id="antiForgeryForm" method="post">
            @Html.AntiForgeryToken()
        </form>
    }
}

<!-- Modal para criar categoria -->
<div class="modal fade" id="createCategory" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createCategoryLabel">Adicionar Nova Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="categoryName" class="col-form-label">Nome da Categoria:</label>
                    <input class="form-control" id="categoryName">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonCreateCategory">Confirmar</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var menuId = '@Model.Id';

        var formToken = $('#antiForgeryForm');
        var token = formToken[0][0].value;

        // Ajax para criação de novo categoria
        $(document).ready(function () {

            $('#buttonCreateCategory').click(function () {
                var categoryName = $('#categoryName').val();

                $.ajax({
                    url: '/Menus/CreateCategory/' + menuId,
                    contentType: 'application/json',
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    data: JSON.stringify({ 
                        id: menuId, 
                        categoryName: categoryName 
                    }),
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert('Ops! Algo deu errado na criação da categoria.');
                    }
                });
            });
        });
    </script>
}
