@model Menu

@{
    ViewData["Title"] = "Editar Cardápio";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCategory">
    Nova Categoria
</button>

<hr/>

@if (Model.Categories is null || Model.Categories.Count() == 0)
{
    <div>Ainda não foram adicionados categorias a este cardápio...</div>
}
else
{
    foreach (var category in Model.Categories)
    {
        <div class="row">
            <div class="col">
                <h2>@Html.DisplayName(category.Name)</h2>
            </div>
            
            <div class="col-md-2 py-2 px-3 btn-group text-end" role="group">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateCategoryModal" data-id="@category.Id">
                    Editar
                </button>

                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal" data-id="@category.Id">
                    Excluir
                </button>
            </div>
        </div>        

        if (category.MenuItems is null || category.MenuItems.Count() == 0)
        {
            <div>Ainda não foram adicionados itens a esta categoria...</div>
        }
        else
        {
            <div class="card mb-3">
                <div class="card-body py-2">
                    <table class="table">
                        <tbody>
                            @foreach (var item in category.MenuItems)
                            {
                                <tr>
                                    <td class="col-md-8">@Html.DisplayName(item.Name)</td>
                                    <td>R$ @Html.DisplayName(item.Price.ToString().Replace(".", ","))</td>
                                    <td class="dropdown text-end">
                                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Opções
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" data-bs-itemId="@item.Id">Editar</a></li>
                                            <li><a class="dropdown-item" data-bs-itemId="@item.Id">Excluir</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}

<!-- Modal para criar categoria -->
<div class="modal fade" id="createCategory" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createCategoryLabel">Adicionar Nova Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="categoryName" class="col-form-label">Nome da Categoria:</label>
                    <input class="form-control" id="categoryName">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonCreateCategory">Confirmar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal para editar categoria -->
<div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-labelledby="updateCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateCategoryLabel">Editar Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="categoryName" class="col-form-label">Nome da Categoria:</label>
                    <input class="form-control" id="updateCategoryName">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonUpdateCategory">Confirmar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal para editar categoria -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCategoryLabel">Excluir Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Deseja excluir a categoria selecionada?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonDeleteCategory">Confirmar</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var menuId = '@Model.Id';
        var token = $('input[name="__RequestVerificationToken"]').val();

        // Ajax para criação de uma categoria
        $(document).ready(function () {

            $('#buttonCreateCategory').click(function () {
                var categoryName = $('#categoryName').val();

                $.ajax({
                    url: '/Menus/CreateCategory/' + menuId,
                    contentType: 'application/json',
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    data: JSON.stringify({
                        id: menuId,
                        categoryName: categoryName
                    }),
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert('Ops! Algo deu errado na criação da categoria.');
                    }
                });
            });
        });

        // Ajax para edição de uma categoria
        $(document).ready(function () {
            var updateCategoryId;

            $('#updateCategoryModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                updateCategoryId = button.data('id');
            });

            $('#buttonUpdateCategory').click(function () {
                var categoryName = $('#updateCategoryName').val();

                $.ajax({
                    url: '/Menus/UpdateCategory/' + updateCategoryId,
                    contentType: 'application/json',
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    data: JSON.stringify({
                        id: updateCategoryId,
                        menuId: menuId,
                        categoryName: categoryName 
                    }),
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert('Ops! Algo deu errado na edição da categoria.');
                    }
                });
            });
        });

        // Ajax para exclusão de uma categoria
        $(document).ready(function () {
            var deleteCategoryId;

            $('#deleteCategoryModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                deleteCategoryId = button.data('id');
            });

            $('#buttonDeleteCategory').click(function () {
                $.ajax({
                    url: '/Menus/DeleteCategory/' + deleteCategoryId,
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert('Ops! Algo deu errado na edição da categoria.');
                    }
                });
            });
        });
    </script>
}
