@model Menu

@{
    ViewData["Title"] = "Editar Cardápio";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCategory">
    Nova Categoria
</button>

<hr/>

@if (Model.Categories is null || Model.Categories.Count() == 0)
{
    <div>Ainda não foram adicionados categorias a este cardápio...</div>
}
else
{
    foreach (var category in Model.Categories)
    {
        <div class="row mb-2">
            <div class="col">
                <h2>@Html.DisplayName(category.Name)</h2>
            </div>

            <div class="col dropdown text-end">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Opções
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createItemModal" data-id="@category.Id">Adicionar Item</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateCategoryModal" data-id="@category.Id">Editar</a></li>
                    <li><a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal" data-id="@category.Id">Excluir</a></li>
                </ul>
            </div>
        </div>        

        if (category.MenuItems is null || category.MenuItems.Count() == 0)
        {
            <div class="mb-3">Ainda não foram adicionados itens a esta categoria...</div>
        }
        else
        {
            <div class="card mb-3">
                <div class="card-body py-2">
                    <table class="table">
                        <tbody>
                            @foreach (var item in category.MenuItems)
                            {
                                <tr>
                                    <td class="col-md-8">@Html.DisplayName(item.Name)</td>
                                    <td>R$ @Html.DisplayName(item.Price.ToString().Replace(".", ","))</td>
                                    <td class="dropdown text-end">
                                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Opções
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateItemModal" data-id="@item.Id">Editar</a></li>
                                            <li><a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteItemModal" data-id="@item.Id">Excluir</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}

<!-- Modal para criar categoria -->
<div class="modal fade" id="createCategory" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createCategoryLabel">Adicionar Nova Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="categoryName" class="col-form-label">Nome da Categoria:</label>
                    <input class="form-control" id="categoryName">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonCreateCategory">Confirmar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal para editar categoria -->
<div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-labelledby="updateCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateCategoryLabel">Editar Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="categoryName" class="col-form-label">Nome da Categoria:</label>
                    <input class="form-control" id="updateCategoryName">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonUpdateCategory">Confirmar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal para excluir categoria -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCategoryLabel">Excluir Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Deseja excluir a categoria selecionada?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonDeleteCategory">Confirmar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal para inclusão de novo item -->
<div class="modal fade" id="createItemModal" tabindex="-1" aria-labelledby="createItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createItemLabel">Adicionar Novo Item à Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="itemName" class="col-form-label">Nome do Item:</label>
                    <input class="form-control" id="itemName">
                </div>
                <div class="mb-3">
                    <label for="itemPrice" class="col-form-label">Preço do Item:</label>
                    <input type="number" class="form-control" id="itemPrice">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonCreateItem">Confirmar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal para edição de item -->
<div class="modal fade" id="updateItemModal" tabindex="-1" aria-labelledby="updateItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateItemLabel">Atualizar Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="updateItemName" class="col-form-label">Nome do Item:</label>
                    <input class="form-control" id="updateItemName">
                </div>
                <div class="mb-3">
                    <label for="updateItemPrice" class="col-form-label">Preço do Item:</label>
                    <input type="number" class="form-control" id="updateItemPrice">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonUpdateItem">Confirmar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal para excluir item -->
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteItemLabel">Excluir Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Deseja excluir o item selecionado?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="buttonDeleteItem">Confirmar</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>        
        $(document).ready(() => {
            const menuId = '@Model.Id';
            const token = $('input[name="__RequestVerificationToken"]').val();

            // Ajax para criação de uma categoria
            $('#buttonCreateCategory').click(() => {
                const categoryName = $('#categoryName').val();

                $.ajax({
                    url: `/Menus/CreateCategory/${menuId}`,
                    contentType: 'application/json',
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    data: JSON.stringify({
                        id: menuId,
                        categoryName: categoryName
                    }),
                    success: () => {
                        location.reload();
                    },
                    error: () => {
                        alert('Ops! Algo deu errado na criação da categoria.');
                    }
                });
            });

            // Ajax para edição de uma categoria
            let updateCategoryId;

            $('#updateCategoryModal').on('show.bs.modal', event => {
                const button = $(event.relatedTarget);
                updateCategoryId = button.data('id');
            });

            $('#buttonUpdateCategory').click(() => {
                const categoryName = $('#updateCategoryName').val();

                $.ajax({
                    url: `/Menus/UpdateCategory/${updateCategoryId}`,
                    contentType: 'application/json',
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    data: JSON.stringify({
                        id: updateCategoryId,
                        menuId: menuId,
                        categoryName: categoryName
                    }),
                    success: () => {
                        location.reload();
                    },
                    error: () => {
                        alert('Ops! Algo deu errado na edição da categoria.');
                    }
                });
            });

            // Ajax para exclusão de uma categoria
            let deleteCategoryId;

            $('#deleteCategoryModal').on('show.bs.modal', event => {
                const button = $(event.relatedTarget);
                deleteCategoryId = button.data('id');
            });

            $('#buttonDeleteCategory').click(() => {
                $.ajax({
                    url: `/Menus/DeleteCategory/${deleteCategoryId}`,
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    success: () => {
                        location.reload();
                    },
                    error: () => {
                        alert('Ops! Algo deu errado na exclusão da categoria.');
                    }
                });
            });

            // Ajax para inclusão de novo item à categoria
            let createItemForCategory;

            $('#createItemModal').on('show.bs.modal', event => {
                const button = $(event.relatedTarget);
                createItemForCategory = button.data('id');
            });

            $('#buttonCreateItem').click(() => {
                let itemName = $('#itemName').val();
                let itemPrice = $('#itemPrice').val();

                $.ajax({
                    url: `/Menus/CreateItem/${createItemForCategory}`,
                    contentType: 'application/json',
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    data: JSON.stringify({
                        categoryId: createItemForCategory,
                        name: itemName,
                        price: itemPrice
                    }),
                    success: () => {
                        location.reload();
                    },
                    error: () => {
                        alert('Ops! Algo deu errado na inclusão do item.');
                    }
                });
            });

            // Ajax para edição de item da categoria
            let updateItemId;

            $('#updateItemModal').on('show.bs.modal', event => {
                const button = $(event.relatedTarget);
                updateItemId = button.data('id');
            });

            $('#buttonUpdateItem').click(() => {
                let itemName = $('#updateItemName').val();
                let itemPrice = $('#updateItemPrice').val();

                $.ajax({
                    url: `/Menus/UpdateItem/${updateItemId}`,
                    contentType: 'application/json',
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    data: JSON.stringify({
                        id: updateItemId,
                        name: itemName,
                        price: itemPrice
                    }),
                    success: () => {
                        location.reload();
                    },
                    error: () => {
                        alert('Ops! Algo deu errado na edição do item.');
                    }
                });
            });

            // Ajax para exclusão de um item
            let deleteItemId;

            $('#deleteItemModal').on('show.bs.modal', event => {
                const button = $(event.relatedTarget);
                deleteItemId = button.data('id');
            });

            $('#buttonDeleteItem').click(() => {
                $.ajax({
                    url: `/Menus/DeleteItem/${deleteItemId}`,
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    success: () => {
                        location.reload();
                    },
                    error: () => {
                        alert('Ops! Algo deu errado na exlusão do item.');
                    }
                });
            });
        });
    </script>
}
